.contentDonut {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.donuts {
    padding-left: 9vw;
    width: 30%;
    height: 60%;
}


@media (max-width: 400px) {
    .donuts {
        padding-left: 0vw;
        width: 90%;
        height: auto;
    }
}